/.docs/*
/config/database.cfg.js
/framework
/spaces
/main/browser/lib/*/lib/*.js
/main/browser/lib/*.js
/node_modules
/public/comps/*
/public/css/*.min.css
/public/js/engine.js
/public/js/engine.js.map
/public/js/vendor.js
/public/js/vendor.js.map
/storage/*/*
/*.sublime-*
**/package-lock.json
**/.DS_Store
**/.vscode
**/jsconfig.json
**/jsdoc.json
**/.tern-project
!/.docs/images
!/.docs/node_modules.sh
!/main/browser/lib/spaces/**
!/public/images
!/public/css/explorer.css/Loading.gif
!**/*_HERE
