/.docs/*
!/.docs/images
!/.docs/node_modules.sh
config/database.cfg.js
/framework
/main/browser/lib/elements.js
/main/browser/lib/src/*
/main/browser/lib/spaces/lib/*
!/main/browser/lib/spaces/lib/api-explorer.js
!/main/browser/lib/spaces/lib/dft-page.js
/node_modules
/public/comps/*
!/public/comps/COMPS_GO_HERE
/public/css/*
!/public/css/style.css
!/public/css/CSS_FILES_HERE
/public/fonts/*
!/public/fonts/FONTS_GO_HERE
/public/images/*
/public/images/icons/*
!/public/images/Loading.gif
!/public/images/icons
!/public/images/icons/browserconfig.xml
!/public/images/icons/manifest.json
/public/js/*
!/public/js/JS_BUNDLES_HERE
/public/less/*
!/public/less/LESS_FILES_HERE
/*.sublime-*
public/js/bundle.js
**/package-lock.json
**/.DS_Store
**/.vscode
**/jsconfig.json
**/jsdoc.json
**/.tern-project
config/database.cfg.js
