/.docs/*
/config
/framework
/spaces
/main/browser/lib/*/lib/*.js
/main/browser/lib/*.js
/main/browser/src/elements/lib/*.jsx
/node_modules
/public/comps/*
/public/css/*
/public/fonts/*
/public/images/*
/public/images/icons/*
/public/js/*
/public/js/bundle.js
/public/less/*
/storage/*/*
/*.sublime-*
**/package-lock.json
**/.DS_Store
**/.vscode
**/jsconfig.json
**/jsdoc.json
**/.tern-project
!/.docs/images
!/.docs/node_modules.sh
!/main/browser/lib/spaces/lib/default.js
!/main/browser/lib/spaces/lib/accessor.js
!/main/browser/lib/spaces/lib/rest.js
!/main/browser/lib/utils.js
!/main/browser/src/elements/lib/stock.jsx
!/main/browser/src/elements/lib/explorer.jsx
!/public/css/explorer.css
!/public/images/Loading.gif
!/public/images/icons
!/public/images/icons/browserconfig.xml
!/public/images/icons/manifest.json
!**/*_HERE